<div class="container weather-cont">
    <div class="jumbotron">
        <div class="row-fluid">
            <div class="row">
                <div class="col-md-4 text-left country">
                    <label class="font-size-20">{{locationData.location}}</label>
                </div>
                <div class="col-md-8 text-right  date">
                    <label class="font-size-20">Observation time: {{weatherData.date | date:'dd.MM.yyyy'}} {{weatherData.observation_time}}</label>
                </div>
            </div>
           
            <div class="row">
                <div class="col-xs-12 col-md-12 temperature">
                    <label class="font-size-60">
                        {{weatherData.temp}}°C  <img src="{{weatherData.iconUrl}}" alt="..." class="img-circle">
                    </label>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-6 col-md-4 pressure">
                    <label class="font-size-20">
                        Pressure: {{weatherData.pressure}} MBar
                    </label>
                </div>
                <div class="col-xs-6 col-md-4 humidity">
                    <label class="font-size-20">
                        Humidity: {{weatherData.humidity}}%
                    </label>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-md-12 last-update">
                    <label class="font-size-20">Last sync time of weather: {{weatherData.sync_time | date:'dd.MM.yyyy h:mm:ss a'}}</label>
                </div>

                <div class="col-xs-12 col-md-12 last-update">
                    <label class="font-size-20">Last sync time of location: {{locationData.sync_time | date:'dd.MM.yyyy h:mm:ss a'}}</label>
                </div>

                <div id="time" class="col-xs-12 col-md-12 time">
                    <label class="font-size-20">Current time is: <span current-time format="'dd.MM.yyyy h:mm:ss a'"></span></label>
                </div>
            </div>
        </div>
    </div>
</div>